body {
	background-color: rgb(66, 66, 66);
}

.highlight {
	background-color: rgb(100, 100, 100);
}

.login-1 {
	background-image: url("KayaKraft Logo  blank - dark-mode.png");
}

.login-2 {
	border-image: url("kayakraft_box - dark-mode.png") 41% round;
}

.map-button-box {
	border-image: url("kayakraft_box - dark-mode.png") 40% round;
}