@import "reset.css";
@import "colours.css";

body {
  background-color: var(--background);
  background-image: linear-gradient(45deg, var(--background), var(--background2));
  height: 100dvh;
  overflow-y: hidden;
}
